#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 200px 0 0;

  h2 {
    color: white;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 100px;
  }

  .line {
    width: 50px;
    height: 1px;
    background-color: white;
    margin-bottom: 30px;
  }

  .row {
    display: flex;
    justify-content: center;

    .col-2 {
      .box {
        background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
        backdrop-filter: blur(10px); /* Blur the background */
        -webkit-backdrop-filter: blur(10px); /* For Safari */
        border-radius: 10px; /* Rounded corners */
        border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        object-fit: cover;
        transition: all .4s ease;
        &:hover {
          transform: scale(1.05);
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}