#home {
  .whiteBanner {
    background-color: white;
    position: absolute;
    width: 100%;
    rotate: 40deg;
    right: -20%;
    height: 100px;
    color: #212121;
    font-size: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-transform: uppercase;
  }

  .blackBanner {
    background-color: #212121;
    position: absolute;
    width: 200%;
    rotate: -15deg;
    height: 100px;
    top: 500px;
    color: white;
    left: -500px;
    font-size: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-transform: uppercase;
  }
  @media screen and (max-width: 992px) {
    .whiteBanner {
      margin-top: -50px;
      background-color: white;
      position: absolute;
      width: 100%; /* Mobilde genişlik ayarı optimize edildi */
      rotate: 20deg;
      right: 0%; /* Sağ kenara oturması için optimize edildi */
      top: 50%;
      height: 50px;
      color: #212121;
      font-size: 15px;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-transform: uppercase;
    }

    .blackBanner {
      margin-top: -50px;
      background-color: #212121;
      position: absolute;
      width: 100%; /* Mobilde genişlik ayarı optimize edildi */
      rotate: -20deg;
      left: 0; /* Sol kenara oturması için optimize edildi */
      top: 50%;
      height: 50px;
      color: white;
      font-size: 15px;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-transform: uppercase;
    }
  }
}
