#banner {
  color: white;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 50px;


  iframe {
    max-width: 90%;
    height: 600px;
    border-radius: 30px;
    transition: all .4s ease;

    &:hover {
      transform: scale(1.02);
    }
  }

  .button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin-top: 30px;
      width: 300px;
      background-color: white;
      color: black;
      padding: 16px;
      font-size: 20px;
      border-radius: 15px;
      font-weight: bold;
    }
  }

  @media screen and (max-width: 992px) {
    iframe {
      height: 200px;
      max-width: 100%;
      width: 100%;
      border-radius: 15px;
    }

    .button {
      button {
        font-size: 16px;
        padding: 8px 16px;
        max-width: 200px;
        width: 100%;
      }
    }
  }
}